mkdocs
mkdocs-material
mkdocs-jupyter
mdx-include
mkdocs-markdownextradata-plugin
mkdocstrings
mkdocstrings[python]
pyyaml
typer
flake8
black
pipdeptree
tabulate
hvplot
matplotlib
bokeh
nbconvert
jupytext
jupyter_contrib_nbextensions
